[Desktop Entry]
Name=1Password
GenericName=1Password
Comment=1Password autostart
Exec=1password --silent
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true

